<% provide(:title, 'Contact') %>

<h1>Contact</h1>
    <p>
      This is the contact page for the Sample App in the
      <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
      This is present as a result of <a href="http://ruby.railstutorial.org/chapters/static-pages#sec-static_pages_exercises">Section 3.5 Exercise 1.</a>
    </p>